<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Departure: </div>
        <div><%= flight.departs %></div>
        <div>Flight #: </div>
        <div><%= flight.flightNo %></div>
        <div><% flight.destinations.forEach(function(m) {%> 
          <div>m.airport</div>
          <div>m.arrival</div>
      <%    }); %></div>
    </section>

    




    <br><br><h2>Add a Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <textarea name="airline"></textarea>
  <label>Arrival:</label>
  <textarea name="airline"></textarea>
  
  <input type="submit" value="Add Destination">
</form>

</body>
</html>